<form>
  <br>
  <div class="form-group">
    <p class="fs-5">Nombre del equipo</p>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="nombre del equipo">
  </div>

  <br>
  <div class="form-group">
    <p class="fs-5">Contrasenna del equipo</p>
    <input type="password" class="form-control"  placeholder="Contrasenna del equipo">
  </div>

  <br>
  <p class="fs-5">Primer participante</p>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Nombre completo">
    </div>
    <div class="col">
      <input type="number" class="form-control" placeholder="Numero de Identificacion">
    </div>
    <div class="col">
      <input type="number" class="form-control" placeholder="Edad">
    </div>
    <div class="col">
      <select class="form-control form-control-md" >
        <option>Masculino</option>
        <option>Femenino</option>
      </select>
    </div>

    <div class="col">
      <input type="text" class="form-control" placeholder="Pais">
    </div>
  </div>

  <br>
  <p class="fs-5">Segundo participante</p>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Nombre completo">
    </div>
    <div class="col">
      <input type="number" class="form-control" placeholder="Numero de Identificacion">
    </div>
    <div class="col">
      <input type="number" class="form-control" placeholder="Edad">
    </div>
    <div class="col">
      <select class="form-control form-control-md" >
        <option>Masculino</option>
        <option>Femenino</option>
      </select>
    </div>

    <div class="col">
      <input type="text" class="form-control" placeholder="Pais">
    </div>
  </div>

  <br>
  <p class="fs-5">Tercer participante</p>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Nombre completo">
    </div>
    <div class="col">
      <input type="number" class="form-control" placeholder="Numero de Identificacion">
    </div>
    <div class="col">
      <input type="number" class="form-control" placeholder="Edad">
    </div>
    <div class="col">
      <select class="form-control form-control-md" >
        <option>Masculino</option>
        <option>Femenino</option>
      </select>
    </div>

    <div class="col">
      <input type="text" class="form-control" placeholder="Pais">
    </div>
  </div>
  <br>
  <button data-mdb-ripple-init type="submit" class="btn btn-dark btn-block mb-4">Registrar equipo</button>
</form>